@model WebApplication4.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party</title>
</head>
<body>
<div>
    <div>
            Wir haben einen Party!
            
    </div>
        <a asp-action="RsvpForm">RSVP Now</a>
</div>


    
</body>
</html>
